*.o
*.a
.scon*
*.so
*.os
*.dll
*.exe
*.obj
*.i
*.la
*.lo
*.zip
src/giv-calibrate-dialog-private.h
src/giv-calibrate-dialog.cc
src/giv-calibrate-dialog.h
src/giv-color-map.c
src/giv-color-map.h
src/giv-color-map.vapi
src/giv-contrast-private.h
src/giv-contrast.cc
src/giv-contrast.h
src/giv-histo-private.h
src/giv-histo.cc
src/giv-histo.h
src/giv-info-private.h
src/giv-info.cc
src/giv-info.h
src/giv-logo.i
src/giv-mark-tree-dialog-private.h
src/giv-mark-tree-dialog.cc
src/giv-mark-tree-dialog.h
src/giv-widget-private.h
src/giv-widget.cc
src/giv-widget.h
src/giv-win-private.h
src/giv-win.cc
src/giv-win.h
src/gtkimageviewer/gtk-image-viewer-fixed.c
src/gtkimageviewer/gtk-image-viewer-private.h
src/gtkimageviewer/gtk-image-viewer.c
src/gtkimageviewer/gtk-image-viewer.h
src/giv
src/plugins/dcmtk/dcmdata/libsrc/mkdictbi
config.h
/src/giv-settings-editor-private.h
/src/giv-settings-editor.cc
/src/giv-settings-editor.h
/src/giv-settings-private.h
/src/giv-settings.cc
/src/giv-settings.h
/giv.wine.nsi
*.gz
/doc/perl-toc.html
*~
/.cache/
/src/plugins/.deps/
/src/plugins/.libs/
